<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>2044图书上传系统</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
<div class="container">
    <ul class="topButton">
        <li class="headerRemove">删除</li>
        <li class="add">新增</li>
    </ul>
    <table class="uploadTable">

    </table>
    <ul class="pages">

    </ul>
</div>

<script>

</script>
</body>
</html>

